/*
 General styling:
*/

body {
	margin: 0px;
	padding: 0px;
	background-image: url("/images/background2.jpg");
	background-attachment: fixed;
}

.michael-content-box{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 10%;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

.michael-segment-separator{
	width:100%;
	height:100px;
	float:left;
}

/*
 Styling for header:
*/

.michael-header {
	position: fixed;
    	width: 100%;
}

.michael-header-logo{
	display: inline-block;
	background-color: black;
	text-align: center;
	margin: 0px;
	padding: 0px;
	width: 100px;
	height: 100px;
}

.michael-header-logo a{
	text-decoration: none;
}

.michael-header-logo h1{
	color: white;
	font-size: 34px;
}

.michael-header-name{
	display: inline-block;
	background-color: white;
	text-align: center;
	font-size: 16px;
	height: 99px;
}

.michael-header-navigation{
	float: right;
	width: auto;
	height: auto !important;
	padding-right: 4%;
}

.michael-header-navigation ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.michael-header-navigation li {
	display: inline-block;
	padding: 5px;
}


.michael-header-logo h1, .michael-header-name h1, .michael-header-navigation a{	
	line-height: 90px;
	margin: 0px;
	padding: 5px;
	font-family: Raleway;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}

.michael-header-navigation a{
	text-decoration: none;
	color: #A9A9A9;
	margin-left: 10px;
	font-size: 16px;
}

.michael-header-navigation-item-selected a{
	color: black;
}

.michael-header-container{
	background: white;
	height: 100px;
}

/*
Styling for 'about'-section:
*/

.michael-portrait-box {
	display: inline-block;	
	float: left;
}

.michael-greeting-box {
	display: inline-block;
	display: inline-block;
	float: right;
	width: 50%;
	text-align: left;
}

.michael-greeting-box h2 {
	color: white;
	font-family: Raleway;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;font-size: 40px;
}

.michael-about-box {
	display: inline-block;
	float: right;
	width: 50%;
	font-family: Raleway;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	font-size: 20px;
	color: white;
}


/*
Styling for 'contact'-section
*/
.michael-social-media-link {
	text-decoration: none;
	color: white;
}

.michael-social-media-link i {
	font-size: 70px;
	text-align: center;
}

.michael-social-media-icon-box {
	width: 25%;
	float: left;
	text-align: center;
}
