---
permalink: /
layout: default
lang: en
---

<section id=hero class="michael-section michael-hero-section">
	<div class=michael-hero-portrait-box>
   		<img src=/images/temp_photo.JPG></img>
	</div>

	<div class=michael-hero-tagline-box>
   		<h1>Michael Schlichtkrull</h1>
   		<h2>Fixing the world, one program at a time</h2>
	</div>

	<nav id=hero-navbar class=michael-hero-navbar>
	{% include navbar.html name="hero" %}
	</nav>
</section>


<section id=about class="michael-section">
	<div class=michael-segment-separator></div>
	<div class=michael-segment-box>
		{% include_relative about.html %}
	</div>
</section>

<section id=publications class="michael-section">
	<div class=michael-segment-separator></div>
	<div class=michael-segment-box>
		{% include_relative publications.html %}
	</div>
</section>

<section id=contact class="michael-section">
	<div class=michael-segment-separator></div>
	<div class=michael-segment-box>
		{% include_relative contact.html %}
	</div>
	<div class=michael-segment-separator></div>
</section>
