---
permalink: /
layout: default
lang: en
---

<section id=about class="michael-section">
	<div class=michael-segment-separator></div>
	<div class=michael-segment-box>
		{% include_relative about.html %}
	</div>
</section>

<section id=publications class="michael-section">
	<div class=michael-segment-separator></div>
	<div class=michael-segment-box>
		{% include_relative publications.html %}
	</div>
</section>

<section id=contact class="michael-section">
	<div class=michael-segment-separator></div>
	<div class=michael-segment-box>
		{% include_relative contact.html %}
	</div>
	<div class=michael-segment-separator></div>
</section>
