<div class="tab">
  <div class="content-box">
   <!--<div class=about-portrait-section-box>
      <div class=about-portrait-box>
	      <img src={{site.profile_img}}></img>
      </div>
   </div>-->
     <div class="about-text-box">

	     <br>

	     Hi there! I'm Michael, an affiliated lecturer and postdoctoral research associate at the University of Cambridge. I am also a research associated at Fitzwilliam College, Cambridge. I work with <a href="https://andreasvlachos.github.io/">Andreas Vlachos</a> on automated fact verification at the <a href="https://www.cst.cam.ac.uk/">Department of Computer Science and Technology</a>. I graduated in 2021 with my PhD thesis from the <a href="https://www.uva.nl/en">University of Amsterdam</a>, where I worked with <a href="http://ivan-titov.org/">Ivan Titov</a> on building NLP models that incorporate structured data.<br><br>
      
      My research is focused on knowledge-intensive NLP, especially for fact-checking and problems with similarly complex epistemology. I am also very interested in modeling structured data sources, such as knowledge graphs, tables, or parse trees. I study technologies that improve the way we interact with information, whether that is through question answering systems that allow us to interrogate data, or fact-checking systems that help us reason about the evidential support for data.<br><br>

      I have a background in computer science, software engineering, with a sprinkle of cognitive science thrown in for good measure. I have an M.Sc. degree in It & Cognition from the <a href="https://www.ku.dk/english">University of Copenhagen</a> and a B.Sc. degree in Software Engineering from the <a href="https://www.dtu.dk/english">Technical University of Denmark</a>.
    </div>
  </div>
</div>
