<div class="tab">
  <div class="content-box">
   <!--<div class=about-portrait-section-box>
      <div class=about-portrait-box>
	      <img src={{site.profile_img}}></img>
      </div>
   </div>-->
     <div class="about-text-box">

	     <br>
	     I am a lecturer at Queen Mary University of London, and an affiliated lecturer at the University of Cambridge. I am also a research associate at Fitzwilliam College, Cambridge.<br><br>

       My research is focused on automated reasoning over retrieved evidence, especially for fact-checking and problems with similarly complex epistemology. I am also very interested in modeling structured data sources, such as knowledge graphs, tables, or parse trees. I study technologies that improve the way we interact with information, whether that is through question answering systems that allow us to interrogate data, or fact-checking systems that help us reason about the evidential support for data.<br><br>
       
       Prior to this, was a postdoctoral research associate at the University of Cambridge, where I worked with <a href="https://andreasvlachos.github.io/">Andreas Vlachos</a> on automated fact verification. I graduated in 2021 with my PhD thesis from the <a href="https://www.uva.nl/en">University of Amsterdam</a>, where I worked with <a href="http://ivan-titov.org/">Ivan Titov</a> on building NLP models that incorporate structured data.<br><br>
      
    </div>
  </div>
</div>
