<div class="tab">
  <div class="content-box">
   <!--<div class=about-portrait-section-box>
      <div class=about-portrait-box>
	      <img src={{site.profile_img}}></img>
      </div>
   </div>-->
     <div class="about-text-box">

	     <br>

    Hi there! I'm Michael, a fourth-year PhD candidate in Natural Language Processing working with <a href="http://ivan-titov.org/">Ivan Titov</a>. Although I am affiliated with the <a href="https://www.illc.uva.nl/">Institute for Logic, Language and Computation (ILLC)</a> at the <a href="https://www.uva.nl/en">University of Amsterdam</a>, I am permanently visiting the <a href="https://www.ed.ac.uk/">University of Edinburgh</a>. During my PhD I have also interned with Amazon Berlin, as well as with FAIR London. I am currently in the process of writing up my thesis.<br><br>
      
      My research is focused on modeling structured data sources - such as knowledge graphs, tables, or parse trees - for NLP. I am deeply interested in developing techniques that improve the way we interact with information, whether that is through question answering systems that allow us to interrogate data or fact-checking systems that help us reason about the veracity of data.<br><br>

      I have a background in computer science, software engineering, with a sprinkle of cognitive science thrown in for good measure. I have an M.Sc. degree in It & Cognition from the <a href="https://www.ku.dk/english">University of Copenhagen</a> and a B.Sc. degree in Software Engineering from the <a href="https://www.dtu.dk/english">Technical University of Denmark</a>.
    </div>
  </div>
</div>
