<header class=michael-header>
<div class=michael-header-container>
      <div class=michael-header-logo>
         <a href="/"><h1>MSS</h1></a>
      </div>
   <div class=michael-header-name>
      <h1>Michael Sejr Schlichtkrull</h1>
   </div>
   <nav class=michael-header-navigation>
      <ul class=michael-header-navigation-list>
		<li id=about-header-item class="michael-header-navigation-item">
			<a href=/#about>About</a>
		</li>
		<li id=publications-header-item class="michael-header-navigation-item">
			<a href=/#publications>Publications</a>
		</li>
		<li id=contact-header-item class="michael-header-navigation-item">
			<a href=/#contact>Contact</a>
		</li>
      </ul>
   </nav>
</div>
</header>
