<head>
	<title>Michael Schlichtkrull</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">

	<!-- Font for social media icons -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>

	<!-- JS -->
	<script type="text/javascript" src=script/toggle.js defer="defer"></script>
	<script type="text/javascript" src=script/scroll.js defer="defer"></script>
</head>
