<div class="tab">
<div class="content-box">
  {% assign sorted_publications = site.data.publications | sort:"year" | reverse  %}
  <ul class="cards">
  {% for publication in sorted_publications %}
    <li class="card">
      <div class="card__link">
        <!--
        <div class="card_image_box">
          <div class="card__img">
            <img src="images/knowledge_graph.png"></img>
          </div>
        </div>
        -->

        <div class=publication-info-box>
          <h3 class="card__header">{{publication.title}}</h3>
          <div class=michael-publication-author-box>
	    {% for author in publication.authors %}
	    
	    {% if author == "Michael Sejr Schlichtkrull"%}
	    {% capture use_author %}<u>{{author}}</u>{% endcapture %}
	    {% else %}
	    {% capture use_author %}{{author}}{% endcapture %}
	    {% endif %}

	    {% if forloop.last and forloop.length > 1 %} and {{use_author}}
	    {% elsif forloop.length > 2 %}{{use_author}},
	    {% else %} {{use_author}}
	    {% endif %}

            {% endfor %}
	  </div>

	  <div class=michael-publication-venue-box>
		  {{publication.venue}}, {{publication.year}}{% if publication.award %}, <strong>{{publication.award}}</strong>{% endif %}
	  </div>

          <div class="card_button_box">
            <div class="card_button_float_container">

            {% if publication.link %}
            <a class="card__button__link" href="{{ publication.link }}"><span class="card__more">link</span></a>
            {% endif %}

	    {% if publication.pdf %}
            <a class="card__button__link" href="{{ publication.pdf }}"><span class="card__more">PDF</span></a>
	    {% endif %}

	    {% if publication.poster %}
            <a class="card__button__link" href="{{ publication.poster }}"><span class="card__more">poster</span></a>
            {% endif %}

	    {% if publication.bibtex %}
            <a class="card__button__link" href="{{ publication.bibtex }}"><span class="card__more">bibtex</span></a>
	    {% endif %}

	    {% if publication.code %}
            <a class="card__button__link" href="{{ publication.code }}"><span class="card__more">code</span></a>
            {% endif %}
            </div>
            <div style="clear:both"></div>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>
</div>
</div>
